.bg-green{
    background-color: #1ABC9C;
    color: aliceblue;
}
.bg-gray{
    background-color: #2C3E50;
    color: white;
}
.bg-darkgray{
    background-color: #1b2630;
    color: white;
}
/* header */
section{
    padding-top: 20px;
    padding-bottom: 20px;
}
/* jumbo */
.jumbo-contents img{
    width: 200px;
    margin-bottom: 10px;
}
.title{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}
.line-star{
    margin: 1rem auto;
    width: 50%;
}
.line{
    border: 2px solid;
    width: calc((100% / 2) - 10px);
}
.fa-star{
    margin-inline: 5px;
    font-size: 1.3rem;
}
.fa-bars{
    border: 1px solid;
    border-radius: 2px;
    padding: 10px;
}
.p-img img{
    width: 100%;
    border-radius: 10px;
}
.socials i{
    border: 1px solid;
    padding: 5px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}