.bg-green{
    background-color: #1ABC9C;
    color: aliceblue;
}
.bg-gray{
    background-color: #2C3E50;
    color: white;
}
/* header */
header .container{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    text-transform: uppercase;
    align-items: center;
}
.logo{
    font-weight: bold;
}
nav{
    display: none;
}
/* jumbo */
.jumbo-contents{
    width: 50%;
    margin-inline: auto;
}
.jumbo{
    text-align: center;
}
.jumbo-contents img{
    width: 200px;
}
.title{
    text-transform: uppercase;
    font-size: 1.2rem;
}
.line-star{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.line{
    border: 2px solid;
    width: calc((100% / 2) - 10px);
}
.fa-star{
    margin-inline: 5px;
}
.fa-bars{
    border: 1px solid;
    border-radius: 2px;
    padding: 10px;
}
.jumbo p{
    text-transform: uppercase;
}
section{
    padding: 15px 0;

}