.bg-green{
    background-color: #1ABC9C;
    color: aliceblue;
}
.bg-gray{
    background-color: #2C3E50;
    color: white;
}
header, section{
    padding-inline: 15px;
}
/* header */
header .container{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    text-transform: uppercase;
    align-items: center;
}
.logo{
    font-weight: bold;
}
nav{
    display: none;
}
/* jumbo */
.jumbo{
    text-align: center;
}
.jumbo-contents img{
    width: 200px;
    margin-bottom: 10px;
}
.title{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}
.line-star{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    width: 50%;
}
.line{
    border: 2px solid;
    width: calc((100% / 2) - 10px);
}
.fa-star{
    margin-inline: 5px;
    font-size: 1.3rem;
}
.fa-bars{
    border: 1px solid;
    border-radius: 2px;
    padding: 10px;
}
.jumbo p{
    text-transform: uppercase;
}
.p-img img{
    width: 100%;
    border-radius: 10px;
}
.portfolio-images{
    display: flex;
    flex-direction: column;
    gap: 15px;
}